<div class="flex w-full h-screen items-center justify-center">
  <div
    class="flex flex-col items-center gap-4 w-[400px] bg-amber-100 p-4 rounded"
  >
    <h1 class="text-2xl font-bold">Sign Up</h1>

    <form
      [formGroup]="form"
      name="loginForm"
      class="flex flex-col gap-4 w-full"
      (ngSubmit)="ngSubmit()"
    >
      <input
        class="w-full p-2 border border-gray-300 rounded bg-white"
        type="text"
        formControlName="name"
        placeholder="Name"
      />

      <input
        class="w-full p-2 border border-gray-300 rounded bg-white"
        type="text"
        formControlName="email"
        placeholder="Email"
      />

      <div class="flex flex-col gap-1">
        <input
          class="w-full p-2 border border-gray-300 rounded bg-white"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>

      <button
        type="submit"
        name="loginFormSubmit"
        [formGroup]="form"
        [attr.disabled]="loading ? true : null"
        class="w-full p-2 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600 transition-colors"
      >
        Sign Up
      </button>

      <div class="w-full flex justify-center">
        <p class="text-blue-500 text-sm">Already have an account?</p>

        <p
          class="text-blue-500 text-sm cursor-pointer ml-2 font-bold underline"
          (click)="redirectToLogin()"
        >
          Login
        </p>
      </div>
    </form>
  </div>
</div>
